<header>
    <form class="form_search" (submit)="submitForm($event)" action="">
        <img class="form_search_img" src="../../../assets/images/icons/icon_point.png" alt="">
        <input #searchInput class="form_search_input" type="text">
        <button class="form_search_btn">
            <img class="form_search_btn_icon" src="../../../assets/images/icons/icon_find.png" alt="">
        </button>
    </form>

    <a href="http://localhost:5074/customer/auth">
        <button class="btn_login">
            <p>G</p>
            <p>Entrar com o Google</p>
        </button>
    </a>
</header>